@charset "utf-8";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden;
  font-family: 'Roboto Condensed';
}
header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
header .main-log {
  padding: 10px 50px 30px 0;
}
header .main-log ul {
  display: flex;
  justify-content: space-between;
}

header .main-log ul li img {
  width: 175px;
}
header .hero-text {
  text-align: center;
  margin: 250px 0;
  position: relative;
  top: -2vw;
  z-index: -11;
}

/* text */
header .hero-text .paragraph-header {
  z-index: -1;
  font-size: 90px;
  margin-bottom: 28px;
  line-height: 84px;
  font-weight: 800;
}

/* text */
header .hero-text .small-h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-left: 31.5vw;
  /* position: relative; */
  width: 35vw;
}

header .scr {
  width: 100%;
  height: 500px;
}

/* 모양 이미지*/
header .one-image {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* 핑크 삼각형 */
header .one-image .box1 {
  width: 100%;
  z-index: -111;
  position: relative;
  /* top: 40vw; */
  left: 23vw;
  bottom: 25vw;
  transform: rotate(50deg);
  width: 50vw;
}

/* 노랑왕관 */
header .one-image .box2 {
  width: 100%;
  z-index: -111;
  position: relative;
  /* top: 3vw; */
  right: 21.5vw;
  bottom: 115vw;
}

/* 파란 원 */
header .one-image .box3 {
  width: 150%;
  z-index: -1;
  position: absolute;
  top: -13vw;
  left: 45.5vw;
}

/* 태양 모양 */
header .one-image .box4 {
  width: 315px;
  position: absolute;
  top: -15vw;
  left: 70vw;
  z-index: -11;
  transform: rotate(-18deg);
}

/* 닌텐도 */
.container2 {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
}

.nintendo-box {
  position: absolute;
  top: 20vw;
  left: 38vw;
  z-index: -111;
  /* opacity: 0; */
  color: #fff;
}

/* text */
.nintendo-box .nintendo {
  font-size: 90px;
  margin-top: 3vw;
  line-height: 84px;
  text-align: center;
  font-weight: 800;
  margin-left: 2.2vw;
}
.nintendo-box .Mario {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 18vw;
  margin-top: 10px;
  margin-left: 43px;
}

/* 마리오 레고 */
.two-image .mario-logo {
  width: 44.5vw;
  position: absolute;
  top: 69vw;
  left: 2vw;
  z-index: -1;
}

/* 쿠바 아들 */
.two-image .dino {
  width: 28vw;
  position: absolute;
  top: 22vw;
  left: 100vw;
}

/* 노랑 삼각형 */
.two-image .try {
  width: 25vw;
  position: absolute;
  top: 25vw;
  left: 94vw;
  transform: rotate(140deg);
  z-index: -1;
}

/* 초록색 반달 */
.two-image .grsc {
  width: 29vw;
  position: absolute;
  top: -28vw;
  left: 28vw;
  transform: rotate(160deg);
  z-index: -11;
}

/* acast */
.container3 {
  position: fixed;
  top: 0;
}
.acast-box {
  width: 100%;
  margin-left: 28vw;
  margin-top: 23vw;
  /* opacity: 0; */
  color: #fff;
}

/* text */
.acast-box .acast {
  z-index: 1;
  font-size: 90px;
  margin-bottom: 10px;
  line-height: 84px;
  /* letter-spacing: 0.2em; */
  text-align: center;
  font-weight: 800;
}
.podcasts {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-left: 22%;
  margin-right: 22%;
  position: relative;
}

/* 핑크 원 */
.c-pink {
  width: 30vw;
  position: absolute;
  top: -50vw;
  left: 25vw;
  z-index: 111;
}

/* 노란색 삼각형 */
.tr-yell {
  width: 30vw;
  position: absolute;
  top: 29vw;
  left: -35vw;
  transform: rotate(-1deg);
}

/* 사람 왼쪽사람 */
.man {
  width: 35vw;
  position: absolute;
  top: 19vw;
  left: -30vw;
}

/* 사람 오른쪽사람 */
.woman {
  width: 35vw;
  position: absolute;
  top: 8vw;
  left: 102vw;
}

/* 레고 */
.container4 {
  position: fixed;
  top: 0;
}
.lego-box {
  position: absolute;
  top: 19.5vw;
  left: 42vw;
  color: #fff;
  /* height: 100vh; */
  /* opacity: 0; */
}

/* text */
.lego-box .lego {
  font-size: 90px;
  margin-bottom: 20px;
  line-height: 84px;
  /* letter-spacing: 0.2em; */
  text-align: center;
  font-weight: 800;
  margin-left: 1.4vw;
}
.lego-life {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  width: 18vw;
  margin-left: -2vw;
}
.four-image {
  position: absolute;
  top: 0;
}
.red-c {
  width: 38vw;
  position: absolute;
  top: 15vw;
  left: -50vw;
}
.lego-red {
  width: 32vw;
  position: absolute;
  top: 7vw;
  left: -40vw;
}
.lego-blue {
  width: 55vw;
  position: absolute;
  top: 5vw;
  left: 140vw;
  bottom: 0;
}
.tr-bl {
  width: 30vw;
  position: absolute;
  top: 53vw;
  left: 40vw;
  transform: rotate(-45deg);
}
/* toyota */
.container5 {
  position: fixed;
  top: 0;
}
.toyota-box {
  position: absolute;
  top: 20.5vw;
  left: 41vw;
  /* opacity: 0; */
  color: #fff;
}

/* text */
.toyota-box .toyota {
  z-index: 1;
  font-size: 90px;
  margin-bottom: 40px;
  line-height: 84px;
  /* letter-spacing: 0.2em; */
  font-weight: 800;
  margin-left: 1.7vw;
}
.easy {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  /* margin-left: 22%;
  margin-right: 22%; */
  position: relative;
  width: 17vw;
}

.vespa {
  width: 20vw;
  position: absolute;
  top: 23vw;
  left: 158vw;
}
.red-car {
  width: 42vw;
  position: absolute;
  top: 24vw;
  left: 160vw;
  z-index: -1;
}
.pink-1 {
  z-index: -11;
  width: 35vw;
  position: absolute;
  left: 130vw;
  top: 8.8vw;
}
.green-1 {
  width: 35vw;
  position: absolute;
  top: -9vw;
  left: -33vw;
  transform: rotate(-150deg);
}
.asset {
  width: 33vw;
  position: absolute;
  top: -2vw;
  left: -70vw;
}

/* one */
.one {
  width: 100%;
  position: absolute;
  top: 2200px;
  background-color: antiquewhite;
  padding-bottom: 140px;
  padding-left: 152px;
  padding-right: 152px;
}
.one .content-left {
  display: flex;
  justify-content: space-between;
  padding: 140px 0;
}
.one .content-left h2 {
  font-size: 40px;
  margin-bottom: 40px;
}
.one .content-left h3 {
  font-size: 30px;
}
.content-right {
  font-size: 24px;
  width: 70%;
  padding-right: 5vw;
}

/* 캐릭터 이미지 */
.image {
  margin-bottom: 50px;
}
.img-box {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.img-box li h3 {
  font-size: 28px;
  margin-top: 13px;
  text-transform: capitalize;
}
.img-box li p {
  font-size: 21px;
  margin-top: 10px;
}
.img-box li img {
  width: 95%;
}
.image a {
  font-size: 22px;
  text-transform: capitalize;
  text-decoration: underline;
}

/* two */
.two {
  width: 100%;
  position: absolute;
  top: 4210px;
  background-color: antiquewhite;
  padding-top: 140px;
  padding-left: 152px;
  padding-right: 152px;
}
.two .content-left {
  display: flex;
  justify-content: space-between;
}
.two .content-left h3 {
  font-size: 30px;
}
.two .content-right h2 {
  /* width: 80%; */
  font-size: 35px;
  margin-bottom: 40px;
  margin-left: 10vw;
}

/* How We Move */
.three {
  width: 100%;
  position: absolute;
  top: 5060px;
  background-color: antiquewhite;
  padding: 140px 152px 40px;
}
.three .text-container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin-left: 510px;
  padding-top: 40px;
  gap: 2vw;
}
.three .text-container .text-6box {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.three .text-container .text-6box1 {
  display: flex;
  flex-direction: column;
}
.three .text-container .flex .text {
  display: grid;
  place-items: center;
  justify-items: end;
  grid-template-columns: repeat(2, 1fr);
  width: 410px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 24px;
  background-color: #f8f3f1;
  font-size: 20px;
  border-radius: 20px;
}
.three .text-container .flex .text p {
  width: 15vw;
}
.three .text-container .flex .text .long {
  width: 15.5vw;
}
.three .text-container .flex .text .short {
  margin: 13px 0;
}
.three .text-container .flex .text-box {
  font-size: 18px;
  margin-top: 10px;
  background-color: #f8f3f1;
  display: none;
}
.three .text-container span {
  cursor: pointer;
  font-size: 18px;
  margin-right: 20px;
}
/* 텍스트 */
.three .content-left {
  display: flex;
  justify-content: space-between;
}
.three .content-left h3 {
  font-size: 30px;
  width: 463px;
}
.three .content-left .paragraph {
  margin-right: 50px;
}
.three .content-left .paragraph h2 {
  width: 35vw;
  font-size: 35px;
  margin-bottom: 40px;
}
.three .content-left .paragraph p {
  font-size: 24px;
  width: 45vw;
}
/* Our Clients */
.four {
  width: 100%;
  position: absolute;
  top: 6118px;
  background-color: #1c3054;
  padding-top: 140px;
  padding-left: 152px;
  padding-right: 152px;
}
.four .content-left {
  display: flex;
  justify-content: space-between;
}
.four .content-left h3 {
  font-size: 30px;
}
.four .content-left h2 {
  font-size: 35px;
  margin-bottom: 40px;
}
.four .content-left p {
  font-size: 24px;
  margin-bottom: 40px;
}
.four .logo .logo-box {
  width: 900px;
  display: flex;
  justify-content: space-between;
  grid-column-gap: 16px;
  grid-row-gap: 60px;
  margin-top: 80px;
  padding-top: 40px;
  border-top: 2px solid rgba(234, 236, 239, 0.32);
}
.four .logo .logo-box img {
  width: 150px;
  height: 96px;
}
