@charset "utf-8";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden;
  /* font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif; */
  font-family: 'REM', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
header .main-log {
  padding: 10px 50px 30px 0;
}
header .main-log ul {
  display: flex;
  justify-content: space-between;
}

header .main-log ul li img {
  width: 175px;
}
header .hero-text {
  text-align: center;
  margin: 250px 0;
  position: relative;
  top: -2vw;
  z-index: -11;
  color: #213052;
}
/* text */
header .hero-text .paragraph-header {
  z-index: -1;
  font-size: 90px;
  margin-bottom: 28px;
  line-height: 84px;
  font-weight: 800;
}

/* text */
header .hero-text .small-h1 {
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  margin-left: 31.5vw;
  /* position: relative; */
  width: 35vw;
}
header .hero-text .text-span {
  color: #ff4761;
}
/* 모양 이미지*/
header .one-image {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* 핑크 삼각형 */
header .one-image .box1 {
  width: 100%;
  z-index: -111;
  position: relative;
  /* top: 40vw; */
  left: 23vw;
  bottom: 15vw;
  transform: rotate(50deg);
  width: 50vw;
}
/* 노랑왕관 */
header .one-image .box2 {
  width: 100%;
  z-index: -111;
  position: relative;
  /* top: 3vw; */
  right: 21.5vw;
  bottom: 105vw;
}

/* 파란 원 */
header .one-image .box3 {
  width: 150%;
  z-index: -1;
  position: absolute;
  top: -13vw;
  left: 45.5vw;
}

/* 태양 모양 */
header .one-image .box4 {
  width: 315px;
  position: absolute;
  top: -15vw;
  left: 70vw;
  z-index: -11;
  transform: rotate(-18deg);
}

/* 닌텐도 */
.container2 {
  position: fixed;
  top: 0;
  left: 0;
}

.nintendo-box {
  position: absolute;
  top: 20vw;
  left: 38vw;
  z-index: -111;
  /* opacity: 0; */
  color: #fff;
}

/* text */
.nintendo-box .nintendo {
  font-size: 90px;
  margin-top: 3vw;
  line-height: 84px;
  text-align: center;
  font-weight: 800;
  /* margin-left: 1.2vw; */
}
.nintendo-box .Mario {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 20vw;
  margin-top: 10px;
  margin-left: 38px;
}

/* 마리오 레고 */
.two-image .mario-logo {
  width: 44.5vw;
  position: absolute;
  top: 69vw;
  left: 2vw;
  z-index: -1;
}

/* 쿠바 아들 */
.two-image .dino {
  width: 28vw;
  position: absolute;
  top: 22vw;
  left: 100vw;
}

/* 노랑 삼각형 */
.two-image .try {
  width: 25vw;
  position: absolute;
  top: 25vw;
  left: 94vw;
  transform: rotate(140deg);
  z-index: -1;
}

/* 초록색 반달 */
.two-image .grsc {
  width: 29vw;
  position: absolute;
  top: -28vw;
  left: 28vw;
  transform: rotate(160deg);
  z-index: -11;
}

/* acast */
.container3 {
  position: fixed;
  top: 0;
}
.acast-box {
  width: 100%;
  margin-left: 28vw;
  margin-top: 23vw;
  /* opacity: 0; */
  color: #fff;
}

/* text */
.acast-box .acast {
  z-index: 1;
  font-size: 90px;
  margin-bottom: 10px;
  line-height: 84px;
  /* letter-spacing: 0.2em; */
  text-align: center;
  font-weight: 800;
}
.podcasts {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-left: 22%;
  margin-right: 22%;
  position: relative;
}

/* 핑크 원 */
.c-pink {
  width: 30vw;
  position: absolute;
  top: -50vw;
  left: 25vw;
  z-index: 111;
}

/* 노란색 삼각형 */
.tr-yell {
  width: 30vw;
  position: absolute;
  top: 29vw;
  left: -35vw;
  transform: rotate(-1deg);
}

/* 사람 왼쪽사람 */
.man {
  width: 35vw;
  position: absolute;
  top: 19vw;
  left: -30vw;
}

/* 사람 오른쪽사람 */
.woman {
  width: 35vw;
  position: absolute;
  top: 8vw;
  left: 102vw;
}

/* 레고 */
.container4 {
  position: fixed;
  top: 0;
}
.lego-box {
  position: absolute;
  top: 20vw;
  left: 38vw;
  color: #fff;
  /* height: 100vh; */
  /* opacity: 0; */
}

/* text */
.lego-box .lego {
  font-size: 90px;
  margin-bottom: 20px;
  line-height: 84px;
  /* letter-spacing: 0.2em; */
  text-align: center;
  font-weight: 800;
  /* margin-left: 1.4vw; */
}
.lego-life {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  width: 21vw;
  /* margin-left: 1vw; */
}
.four-image {
  position: absolute;
  top: 0;
}
.red-c {
  width: 38vw;
  position: absolute;
  top: 15vw;
  left: -50vw;
}
.lego-red {
  width: 32vw;
  position: absolute;
  top: 7vw;
  left: -40vw;
}
.lego-blue {
  width: 55vw;
  position: absolute;
  top: 5vw;
  left: 140vw;
  bottom: 0;
}
.tr-bl {
  width: 30vw;
  position: absolute;
  top: 53vw;
  left: 40vw;
  transform: rotate(-45deg);
}
/* toyota */
.container5 {
  position: fixed;
  top: 0;
}
.toyota-box {
  position: absolute;
  top: 21vw;
  left: 40vw;
  /* opacity: 0; */
  color: #fff;
}
.background {
  position: absolute;
  top: 101vw;
  background-color: #2470c7;
  width: 100%;
  height: 50vw;
}
/* text */
.toyota-box .toyota {
  z-index: 1;
  font-size: 90px;
  margin-bottom: 40px;
  line-height: 84px;
  /* letter-spacing: 0.2em; */
  font-weight: 800;
  margin-left: 1.7vw;
}
.easy {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-left: 2.3vw;
  /* margin-right: 22%; */
  position: relative;
  width: 17vw;
}

.vespa {
  width: 20vw;
  position: absolute;
  top: 23vw;
  left: 158vw;
}
.red-car {
  width: 42vw;
  position: absolute;
  top: 24vw;
  left: 160vw;
  z-index: -1;
}
.pink-1 {
  z-index: -11;
  width: 35vw;
  position: absolute;
  left: 130vw;
  top: 8.8vw;
}
.green-1 {
  width: 35vw;
  position: absolute;
  top: -9vw;
  left: -33vw;
  transform: rotate(-150deg);
}
.asset {
  width: 33vw;
  position: absolute;
  top: -2vw;
  left: -70vw;
}

.full-stop {
  color: #ff4761;
}
.arr {
  font-weight: 700;
}
/* one */
.one {
  width: 100%;
  position: absolute;
  top: 2200px;
  background-color: #fff;
  padding-bottom: 140px;
  padding-left: 152px;
  padding-right: 152px;
}
.one .content-left {
  display: flex;
  justify-content: space-between;
  padding: 140px 0;
  color: #213052;
}
.left-1 {
  border-bottom: 2px solid #ddd;
}
.one .content-left h2 {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 700;
  /* width: 45vw; */
}
.one .content-left h3 {
  font-size: 32px;
  font-weight: bold;
  width: 20vw;
}
.one .content-left .what-box {
  margin-right: 8vw;
}
.one .content-right {
  font-size: 24px;
  width: 75%;
  /* padding-right: 5vw; */
}
.right-1 {
  display: flex;
  justify-content: space-between;
}
.right-2 h2 {
  width: 40vw;
}
.right-2 .paragraph {
  width: 45vw;
}
.right-2-text h2 {
  width: 45vw;
}
.content-right .r-pink {
  position: relative;
  left: 60px;
  bottom: 20px;
  transform: rotate(-35deg);
}
.content-right .tr-red {
  position: relative;
  right: 70px;
  bottom: 40px;
  transform: rotate(30deg);
}
.content-right .tr-red {
  width: 128px;
  bottom: 150px;
}
.content-right .r-pink {
  width: 122px;
  bottom: 200px;
}
.Figure p {
  width: 50vw;
}
.Figure span {
  text-transform: capitalize;
  font-weight: 700;
}
.content-left .paragraph-one {
  width: 50vw;
}
.content-left .paragraph-one span {
  font-weight: 700;
}
.right-2 {
  display: flex;
  /* justify-content: space-between; */
}
.Figure1 img {
  width: 120px;
  position: relative;
  top: 25vw;
  left: 3vw;
  transform: rotate(-35deg);
}
.arrow {
  display: flex;
  align-items: center;
}
.arrow img {
  margin-top: 4px;
}
.arrow1 {
  display: flex;
  align-items: center;
  font-size: 22px;
}
.arrow1 img {
  margin-top: 4px;
}
/* 캐릭터 이미지 */
.image {
  margin-bottom: 50px;
  padding-bottom: 80px;
  border-bottom: 2px solid #ddd;
}
.img-box {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.img-box li h3 {
  font-size: 28px;
  margin-top: 13px;
  text-transform: capitalize;
  font-weight: 700;
  color: #213052;
}
.img-box li p {
  font-size: 21px;
  margin-top: 10px;
  color: #213052;
}
.img-box li img {
  width: 95%;
}
.img-box li img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.image a {
  font-size: 22px;
  text-transform: capitalize;
  text-decoration: underline;
  color: #213052;
}

/* two */
.two {
  width: 100%;
  position: absolute;
  top: 4210px;
  background-color: #fff;
  padding-top: 140px;
  padding-left: 152px;
  padding-right: 152px;
}
.two .content-left {
  display: flex;
  justify-content: space-between;
}
.two .content-left h3 {
  font-size: 32px;
  font-weight: 700;
  width: 100vw;
  color: #213052;
}
.two .content-right h2 {
  width: 90%;
  font-size: 40px;
  margin-bottom: 40px;
  /* margin-left: 10vw; */
  font-weight: 700;
  color: #213052;
}
.right-3 {
  display: flex;
  justify-content: space-between;
}
.content-right .tr-yell2 {
  position: absolute;
  bottom: -23vw;
  left: -5vw;
  width: 128px;
  transform: rotate(45deg);
}
.content-right .arc-blue {
  width: 112px;
  position: absolute;
  left: -3vw;
  top: 30vw;
}
.Figure2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25vw;
  top: 20vw;
}
.Figure2 img:first-child {
  margin-bottom: 100px;
}
/* How We Move */
.three {
  width: 100%;
  position: absolute;
  top: 5060px;
  background-color: #fff;
}
.three .three-box {
  padding: 300px 152px 40px;
}
.three .text-container {
  width: 900px;
  display: flex;
  margin-left: 295px;
  padding-top: 40px;
  gap: 3.2vw;
}
.three .text img {
  width: 2vw;
}

.three .tr-yell3 {
  width: 128px;
  position: relative;
  left: -10vw;
  bottom: -5vw;
  margin: 5vw 0 10vw;
  transform: rotate(45deg);
}
.three .arc-blue2 {
  width: 112px;
  position: relative;
  left: -5vw;
  bottom: -5vw;
}
.three .text-container .text-6box {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.three .text-container .text-6box1 {
  display: flex;
  flex-direction: column;
}
.three .text-container .flex .text {
  display: grid;
  place-items: center;
  justify-items: end;
  grid-template-columns: repeat(2, 1fr);
  width: 380px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 24px;
  background-color: #f8f3f1;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(19, 18, 66, 0.07);
}
.three .text-container .flex .text p {
  width: 16vw;
}
.three .text-container .flex .text .long {
  width: 15.5vw;
}
.three .text-container .flex .text .short {
  margin: 13px 0;
}
.three .text-container .flex .text-box {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #f8f3f1;
  display: none;
  font-size: 18px;
  font-weight: 300;
}
.three .text-container span {
  cursor: pointer;
  font-size: 18px;
  margin-right: 20px;
}
/* 텍스트 */
.three .left-3 {
  border-top: 2px solid #ddd;
  padding-top: 5vw;
}
.three .content-left {
  display: flex;
  /* justify-content: space-between; */
}
.three .content-left h3 {
  font-size: 32px;
  width: 463px;
  font-weight: bold;
  margin-right: 2.2vw;
  color: #213052;
}
.three .content-left .paragraph h2 {
  width: 45vw;
  font-size: 44px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #213052;
}
.three .content-left .paragraph p {
  font-size: 24px;
  width: 45vw;
  color: #213052;
}
/* Our Clients */
.four {
  display: block;
  width: 100%;
  background-color: #1c3054;
  padding: 140px 152px 140px;
  color: #fff;
}
.four .content-left {
  display: flex;
  justify-content: space-between;
}
.four .content-left h3 {
  width: 51vw;
  font-size: 32px;
  font-family: 700;
  color: #fff;
}
.four .content-left h2 {
  font-size: 40px;
  margin-bottom: 40px;
  width: 45vw;
  font-weight: 700;
}
.four .content-left p {
  font-size: 24px;
  margin-bottom: 40px;
  width: 50vw;
}
.four .logo .logo-box {
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  grid-column-gap: 16px;
  grid-row-gap: 60px;
  margin-top: 80px;
  padding-top: 40px;
  border-top: 2px solid rgba(234, 236, 239, 0.32);
}
.four .logo .logo-box img {
  width: 150px;
  height: 96px;
}
.img-box-tr {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
}
.four .r-pink2 {
  position: absolute;
  width: 125px;
}
.four .tr-green {
  width: 160px;
  position: absolute;
  top: 25vw;
}
.four .img-box-tr {
  position: absolute;
  left: 22vw;
}
.four2 {
  margin-right: 1vw;
}
/* Let 's Talk. */
.five {
  width: 100%;
  position: absolute;
  top: 7700px;
  background-color: #f8f3f1;
  padding: 140px 152px 50px;
  font-size: 17px;
}
.five .content-left {
  display: flex;
  justify-content: space-between;
  padding-bottom: 140px;
}

.five .content-left h3 {
  font-size: 32px;
  font-weight: 700;
  color: #213052;
}
.five .content-left h2 {
  width: 50vw;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #213052;
  margin-right: 3vw;
}
.content-right a {
  text-decoration: underline;
}
.five .footer-menu {
  display: grid;
  /* grid-template-rsows: auto auto; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-auto-columns: 1fr;
}
.five .footer-menu .footer-box {
  display: flex;
  /* justify-content: space-between; */
  gap: 13vw;
  margin-bottom: 40px;
  font-weight: 300;
  line-height: 1.5;
}
.five .footer-menu .footer-box img {
  width: 210px;
  height: 109px;
}
.five .footer-menu .footer-box .main-img {
  margin-right: 4vw;
}
.five .arr {
  font-size: 24px;
  color: #213052;
}
.footer-buttom .address {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  gap: 15vw;
  font-weight: 300;
}
.footer-buttom .address h4 {
  font-weight: 300;
}
.footer-buttom .address p {
  text-transform: capitalize;
  font-size: 13px;
}
.footer-buttom .address .ltd {
  font-size: 17px;
}
.logo-box2 {
  display: flex;
  margin-left: 8vw;
}
.logo-box2 li {
  margin: 0 10px;
}
.logo-box2 img {
  width: 23px;
}
.f-ourwork a {
  font-size: 17px;
}

.container6 {
  position: fixed;
  top: 0;
}
